* {
    margin: 0;
    padding: 0;
    box-sizing: 0;
    font-family: "Word Sans", sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    gap: 20px;
}

.head {
    font-size: 2.5rem;
    font-weight: 900;
}

table {
    width: 80%;
}

table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}

th, td {
    padding: 6px;
}

.full-payment, .partial-payment {
    cursor: pointer;
}