:root {
    --primary-color:  rgb(252, 177, 2);
    --secondary-color: rgb(98, 49, 158);
}

.center-column {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.center-row {
    display: flex;
    align-items: center;
    justify-content: center;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Work Sans";
}

body {
    background-color: var(--primary-color);
    height: 100vh;
}

button {
    cursor: pointer;
}

p {
    font-weight: 900;
    font-size: 2.5rem;
    color: var(--primary-color);
}

a {
    text-decoration: none;
}



.header {
    margin-bottom: 100px;
    background-color: var(--secondary-color);   
    display: flex;
}

.header a {
    padding: 16px;
    font-weight: 600;
    color: #fff;
}

.header a:hover {
    background-color: var(--primary-color);
}

.container {
    width: 100%;
    background-color: rgb(242, 244, 247);
    padding-top: 20px;
    padding-bottom: 20px;
    gap: 20px;
}

.container form {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 400px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 2px 4px 0px, rgba(0, 0, 0, 0.1) 0px 8px 16px 0px;
    padding: 20px;
    border-radius: 8px;
    background-color: #fff;
}

.input {
    display: flex;
    flex-direction: column;
    gap: 5px;
    width: 100%;
}

form input {
    padding: 8px;
    border-radius: 6px;
    border: 1px solid black;
}

form button {
    padding: 12px;
    border-radius: 6px;
    border: 1px solid black;
    font-weight: 600;
    font-size: 16px;
    background-color: var(--secondary-color);
    color: #fff;
    width: 100%;
}